<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConsoleAppConnection"
		 providerName="Microsoft.Data.SqlClient"
		 connectionString="Server=tcp:<server>,1433;Database=<db>;Authentication=Active Directory Interactive;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>