<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConsoleAppConnectionbc"
		 providerName="Microsoft.Data.SqlClient"
		 connectionString="Server=tcp:<server>,1433;Database=<db>;User=<user>;Password=<strongpassword>;TrustServerCertificate=False;Connection Timeout=30;"/>
		<add name="ConsoleAppConnectiongp"
		providerName="Microsoft.Data.SqlClient"
		connectionString="Server=tcp:<server>,1433;Database=<db>;User=<user>;Password=<strongpassword>;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>