<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConsoleAppConnectiongp1"
		providerName="Microsoft.Data.SqlClient"
		connectionString="Server=tcp:<server>.database.windows.net,1433;Database=<db>;User=<login>;Password=<pwd>;TrustServerCertificate=False;Connection Timeout=30;"/>
		<add name="ConsoleAppConnectiongp3"
		providerName="Microsoft.Data.SqlClient"
		connectionString="Server=tcp:<server>.database.windows.net,1433;Database=<db>;User=<login>;Password=<pwd>;TrustServerCertificate=False;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>