USE [tpcc_workload]
GO
CREATE UNIQUE CLUSTERED INDEX [customer_i1] ON [dbo].[customer]
(
	[c_w_id] ASC,
	[c_d_id] ASC,
	[c_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
ALTER TABLE district ADD CONSTRAINT [PK_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[d_w_id] ASC,
	[d_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE item ADD CONSTRAINT [PK_ITEM] PRIMARY KEY CLUSTERED 
(
	[i_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [new_order_i1] ON [dbo].[new_order]
(
	[no_w_id] ASC,
	[no_d_id] ASC,
	[no_o_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [order_line_i1] ON [dbo].[order_line]
(
	[ol_w_id] ASC,
	[ol_d_id] ASC,
	[ol_o_id] ASC,
	[ol_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
CREATE UNIQUE CLUSTERED INDEX [orders_i1] ON [dbo].[orders]
(
	[o_w_id] ASC,
	[o_d_id] ASC,
	[o_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
ALTER TABLE stock ADD CONSTRAINT [PK_STOCK] PRIMARY KEY CLUSTERED 
(
	[s_w_id] ASC,
	[s_i_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE warehouse ADD CONSTRAINT [PK_WAREHOUSE] PRIMARY KEY CLUSTERED 
(
	[w_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
CREATE UNIQUE NONCLUSTERED INDEX [customer_i2] ON [dbo].[customer]
(
	[c_w_id] ASC,
	[c_d_id] ASC,
	[c_last] ASC,
	[c_id] ASC
)
INCLUDE ( 	[c_credit],
	[c_street_1],
	[c_street_2],
	[c_city],
	[c_state],
	[c_zip],
	[c_phone],
	[c_middle],
	[c_credit_lim],
	[c_since],
	[c_discount],
	[c_first]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [d_details]    Script Date: 9/3/2017 1:06:02 PM ******/
CREATE NONCLUSTERED INDEX [d_details] ON [dbo].[district]
(
	[d_id] ASC,
	[d_w_id] ASC
)
INCLUDE ( 	[d_name],
	[d_street_1],
	[d_street_2],
	[d_city],
	[d_state],
	[d_zip],
	[padding]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [orders_i2]    Script Date: 9/3/2017 1:06:02 PM ******/
CREATE NONCLUSTERED INDEX [orders_i2] ON [dbo].[orders]
(
	[o_w_id] ASC,
	[o_d_id] ASC,
	[o_c_id] ASC,
	[o_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [w_details]    Script Date: 9/3/2017 1:06:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [w_details] ON [dbo].[warehouse]
(
	[w_id] ASC
)
INCLUDE ( 	[w_tax],
	[w_name],
	[w_street_1],
	[w_street_2],
	[w_city],
	[w_state],
	[w_zip],
	[padding]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[district] ADD  CONSTRAINT [DF__DISTRICT__paddin__282DF8C2]  DEFAULT (replicate('X',(6000))) FOR [padding]
GO
ALTER TABLE [dbo].[warehouse] ADD  CONSTRAINT [DF__WAREHOUSE__paddi__14270015]  DEFAULT (replicate('x',(4000))) FOR [padding]
GO
